<div class="container">
  <input placeholder="nickname" class="form-control mt-3" [(ngModel)]="nickname" (keyup)="$event.keyCode == 13 && sendMessage()" />
  <ul class="list-group mt-3" style="height: 500px; border: 1px solid grey;">
    <li class="list-group-item" *ngFor="let message of messages">{{message}}</li>
  </ul>
  <div class="mt-3">
    <div class="form-group row">
      <div class="col-8">
        <input class="form-control" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
      </div>
      <div class="col-4">
        <button class="form-control btn btn-success"(click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>


</div>

